/*custom.css*/
/* Joe 21/11/2019 11:28 My Custom styles for this template */

/* Floating x button  on each sample website to return to parent website */
.floating-x-button {
  position: fixed;
  margin-top: 125px;
  margin-left: 10px;
  background-color: red;
  color: #fff; /* text color */
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  font-family: monospace;
  border-radius: 50%;
  border: 1.5px solid #000;
  z-index: 110;
}
.floating-x-button:hover {
  background-color:red;
  opacity: 0.8;
  border: solid 1.2px #404040;
}
.floating-x-button:focus{
  outline:0; /* Takes away blue border square when button is pressed(with Google) */
}

  /* large  and small phones, 750px and down) */
@media only screen and (max-width: 700px){ 
  .floating-x-button {
    bottom: 100px;
    right: 60px;
  }
}
 
 
 
